/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1818;
    color: #fff;
    margin: 0px;
    padding: 0px;

}

/* Header styles */
header {
    background-color: #1a1818;
    color: #fff; 
    position: fixed;
    width: 100%;
    z-index: 1000;
    text-align: center;
    border: 1px solid #333;
    margin: 0px;
    padding: 20px 0; 
    box-sizing: border-box;
}
.logo {
    width: 80px; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #f9f9f9;
}

/* Banner styles */
.banner {
    background-image: url('sanphamimg/banner1.png'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 260px 0;
    margin-top: 20px; 
    transition: margin-top 0.3s ease;
}
.banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.banner p {
    font-size: 18px;
}

/* Main content styles */
main {
    padding: 40px 0;
}
h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
footer a {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ddd;
    text-decoration: none;
}

/* Product styles */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: calc(30% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #272727;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.product:hover {
    transform: translateY(-5px);
}
.product img {
    width: 100%;
    border-radius: 5px;
}
.product h3 {
    margin-top: 10px;
    font-size: 18px;
}
.product p {
    font-size: 16px;
    color: #bbb;
}
